* {
    /* Font presi dalla tua Waybar */
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font", sans-serif;
    outline: none;
    border: none;
}

window {
    margin: 0px;
    /* Sincronizzato con waybar > box */
    background-color: rgba(0, 0, 0, 0.5); 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 20px; 
}

#outer-box {
    margin: 15px;
}

#input {
    margin-bottom: 12px;
    padding: 12px;
    color: #ffffff;
    /* Font ridotto per un look più raffinato */
    font-size: 19px; 
    font-weight: 600;
    /* Stile simile ai tuoi moduli Waybar */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#input:focus {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#inner-box {
    background-color: transparent;
}

#entry {
    padding: 8px 12px;
    margin: 2px 0px;
    border-radius: 10px;
    background-color: transparent;
}

/* Selezione: Bianco pieno come il tuo workspace attivo */
#entry:selected {
    background-color: #ffffff;
}

#text {
    color: #e5e5e5;
    /* Dimensione scritte app più equilibrata */
    font-size: 16px;
    font-weight: 500;
}

#text:selected {
    color: #000000;
    font-weight: 600;
}

#img {
    margin-right: 15px;
    /* Adattiamo l'icona alla nuova dimensione del font */
}
